/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  .content2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .content1{
    display:grid;
    grid-template-columns: 2fr 1fr;
  }