.background {
    background-image: url('../../assets/stonePaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width:100%
  }
  .center-outer {
    display: table;
    width: 100%;
    height: 100%;
    }
    .small {
        font-size: 2em !important;
        color:black !important;
        
    }
    .pad-input {
        padding-left:40%
    }
    .center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
    .pad {
        padding-bottom: 30%;
    }
    .pad-top {
        padding-top: 40%;
    }
    .pad-play {
        padding-top: 15px;
        padding-right: 6%;
    }
    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 30%;
      }
      
      .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: #fff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
      }
      .form__field::placeholder {
        color: transparent;
      }
      .form__field:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
      
      .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
      }
      
      .form__field:focus {
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, #11998e, #38ef7d);
        border-image-slice: 1;
      }
      .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
      }
      
      /* reset input */
      .form__field:required, .form__field:invalid {
        box-shadow: none;
      }
      

      
      
  
  .shadow {
    font-size: 5vw;
    text-shadow: 4px 4px 0px #480cd4;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0
      }
  
      100% {
          opacity: 1;
      }
  }
  a {
      text-decoration: none;
  }