<div class="background container">
    <div class="center-outer">
        <div class= "center-inner">
            <div class="shadow pad">Stone Paper Scissor</div>
            <div class="row">
                <div class="col-md-12 pad-input">
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Name" [(ngModel)]="name" name="name" id='name' required />
                        <label for="Name" class="form__label">Type Your Name</label>
                      </div>
                </div>
                <div class="col-md-12 pad-play">
                    <a class="shadow small" routerLink="/stone-paper" (click)="play()">PLAY</a>
                </div>
            </div>
           
           
           
        </div>
       
    </div>
</div>

